/* ----------------------------------------
Base
---------------------------------------- */
html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	line-height: 1;
	overflow: initial;
}
body {
	background-color: #fff;
	color: #111111;
	height: 100%;
	overflow: initial;
}
main {
	overflow-x: hidden;
}
::selection {
	background-color: #111111;
	color: #fff;
	text-shadow: none;
}
