/* ----------------------------------------
Core -- Grid
---------------------------------------- */
.grid {
  font-size: 0;
  margin-left: -0.9375rem; /* -15px */

  @include media-query($bp--777) {
    margin-left: -1.875rem; /* 30px */
  }
}
.grid--cntr {
	text-align: center;
}
.grid--rgt {
	text-align: right;
}
.grid--gttr-nn {
	margin-left: 0;
}
.grid--mdl .grid__cl {
	vertical-align: middle;
}
.grid--btm .grid__cl {
	vertical-align: bottom;
}
.grid__cl {
  display: inline-block;
  font-size: 1rem; /* 16px */
  padding-left: 0.9375rem; /* 15px */
  text-align: left;
  vertical-align: top;
  width: 100%;

  @include media-query($bp--777) {
    padding-left: 1.875rem; /* 30px */
  }
}

@include media-query($bp--777) {
  .grid--cntr_bp--777 {
  	text-align: center;
  }
  .grid--rgt_bp--777 {
  	text-align: right;
  }
}
