/* ----------------------------------------
Reset
---------------------------------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, li, a, strong, blockquote, cite, figure, figcaption, hr {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
main, header, footer, nav, section, figcaption, figure {
    display:block;
}
html {
	-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
ul {
	list-style: none;
}
a {
	background: transparent;
}
strong {
  font-weight: 700;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
cite {
	font-style: normal;
}
img {
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
*, *::after, *::before {
	box-sizing: border-box;
}
