<!DOCTYPE html>
  <html class='no-js' lang='en'>
  <head prefix='og: http://ogp.me/ns'>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta property='og:title' content='<%= htmlWebpackPlugin.options.metaTitle %>' />
    <meta property='og:url' content='<%= htmlWebpackPlugin.options.metaURL %>' />
    <meta property='og:type' content='website' />
    <meta property='og:description' content='<%= htmlWebpackPlugin.options.metaDescription %>' />
    <meta property='og:image' content='/og_image.jpg' />

    <meta name='twitter:card' content='summary' />
    <meta name='twitter:site' content='<%= htmlWebpackPlugin.options.twitterSite %>' />
    <meta name='twitter:title' content='<%= htmlWebpackPlugin.options.metaTitle %>' />
    <meta name='twitter:description' content='<%= htmlWebpackPlugin.options.metaDescription %>' />
    <meta name='twitter:url' content='<%= htmlWebpackPlugin.options.metaURL %>' />
    <meta name='twitter:image' content='/og_image.jpg' />

    <link rel='shortcut icon' href='/favicon.ico' />
    <link rel='icon' type='image/png' href='/favicon-192x192.png' sizes='192x192' />
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon-180x180.png' />

    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'js';
    </script>
  </head>
  <body>
    <div class='wrapper'>
      <h1>Default template</h1>
    </div>
  </body>
</html>
